#admin > div {
    margin-top: 0.5em;
    height: 12em;
    background-color: #eee;
    border-radius: 1em;
    width: 23.5%;
    margin-left: 0.5%;
    float:left;
    text-align: center;
    /*vertical-align: middle; /* http://www.w3schools.com/cssref/pr_pos_vertical-align.asp */
    font-weight: bold;
    line-height: 12em; /* needs to be the same height as it's parent */
}

#admin > div a {
    color: black;
}

#admin > div:hover {
    background-color: #999;
    cursor: pointer;
}

#admin > div:nth-child(3) {
    width: 47.5%;
}